.overskrift{
    float: left;
    color: black;
    text-align: left;
    font-size: 25px;
    padding-bottom: ;
}
.text{
    float: left;
    color: black;
    text-align: left;
    font-size: 20px;
}